body{
    background-color: #dadada;
}

#Sensorscontrol {
    position: absolute;
    width: 304px;
    left: 5%;
    top: 0%;

    font-family: 'Inter';
    font-style: normal;
    font-size: 6vw;
}

#ct5 {
    position: absolute;
    right: 5%;
    top: 15%;

    font-family: 'Inter';
    font-style: normal;
    font-size: 1.5vw;

    text-align: right;

    color: #393939;
}

#ipget {
    position: absolute;
    right: 5%;
    top: 20%;

    font-family: 'Inter';
    font-style: normal;
    font-size: 1.5vw;

    text-align: right;

    color: #393939;
}

.lightsection{
    position: absolute;
    left:2%;
    bottom:15%;

    width:30vw;
    height:30vw;
    background:black;
}

#lightcoverblack{
    position: absolute;

    width:30vw;
    height:30vw;
    background:black;
    z-index: 2;
    opacity: 0;
}

#lightcoverwhite{
    position: absolute;

    width:30vw;
    height:30vw;
    background:white;
    z-index: 2;
    opacity: 0;
}

#tempcoverred{
    position: absolute;

    width:30vw;
    height:30vw;
    background:red;
    z-index: 2;
    opacity: 0;
}

#tempcoverblue{
    position: absolute;

    width:30vw;
    height:30vw;
    background:violet;
    z-index: 2;
    opacity: 0;
}



.tempsection{
    position: absolute;
    left:35%;
    bottom:15%;

    width:30vw;
    height:30vw;
    background:black;
}

.doorsection{
    position: absolute;
    left:68%;
    bottom:15%;

    width:30vw;
    height:30vw;
    background:black;
}

#temptext,#lighttext,#doortext{
position: absolute;
left: 5%;
top: 5%;

font-family: 'Inter';
font-style: normal;
font-size: 1.5vw;
color: #FFFFFF;
z-index: 3;
}

#lightlogo{
position: absolute;
width: 1.5vw;
height: 1.5vw;
left: 38%;
top: 10%;
z-index: 3;
}

#templogo{
position: absolute;
width: 1.5vw;
height: 1.5vw;
left: 55%;
top: 10%;
z-index: 3;
}

#doorlogo{
position: absolute;
width: 1.5vw;
height: 1.5vw;
left: 38%;
top: 10%;
z-index: 3;
}

#waitdata,#waitdata2,#waitdata3 {
    position: absolute;
    max-width: 100%;
    height: auto;
    width: auto\9;
    z-index: 1;
    /* ie8 */
    visibility: visible;
}

#waitdatatext,#waitdatatext2{
position: absolute;
left: 5%;
top: 10%;

font-family: 'Inter';
font-style: normal;
font-size: 2.5vw;
color: #FFFFFF;
z-index: 3;
visibility: hidden;
}

#connectButton{
  position: absolute;
  right: 5%;
  top: 25%;

  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 32px;
  font-family: 'Inter';
  font-style: normal;
  font-size: 1.5vw;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
}

#disconnectButtonlight,#disconnectButtontemp,#disconnectButtondoor{
    position: absolute;
    visibility: hidden; 
    width:3vw;
    height:3vw;
    left: 80%;
    top: 80%;
z-index: 3;
}

#connectButtonlight,#connectButtontemp,#connectButtondoor{
    position: absolute;
    visibility: visible; 
    width:3vw;
    height:3vw;
    left: 80%;
    top: 80%;
    z-index: 3;
}

#livedata2,#livedata,#livedata3{
position: absolute;
left: 5%;
top: 10%;

font-family: 'Inter';
font-style: normal;
font-size: 2.5vw;
color: #FFFFFF;
z-index: 3;
}

#incominglight{
position: absolute;
left: 2%;
bottom: 8%;
width: 30vw;

font-family: 'Inter';
font-style: normal;
font-size: 1.5vw;
color: black;
z-index: 3;
}

#incomingTemp{
    position: absolute;
    left: 35%;
    bottom: 8%;
    width: 30vw;
    
    font-family: 'Inter';
    font-style: normal;
    font-size: 1.5vw;
    color: black;
    z-index: 3;
    }

#incomingDoor{
    position: absolute;
    left: 68%;
    bottom: 8%;
    width: 30vw;
    
    font-family: 'Inter';
    font-style: normal;
    font-size: 1.5vw;
    color: black;
    z-index: 3;
    }

  
.myVideo-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 70%;
    overflow: hidden;
  }
  
  #myVideo,#myVideo2,#myVideo3 {
    width: 30vw;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


/* ///////////////////////////////////////////////////// */


.lightsectionproject{
    position: absolute;
    left:2%;
    bottom:25%;

    width:30vw;
    height:30vw;
    background:black;
}

#lightcover{
    position: absolute;
    left:35%;
    top:35%;
    z-index: 100;

    width:10vw;
    height:10vw;
    background:white;
}

.tempsectionproject{
    position: absolute;
    left:35%;
    bottom:25%;

    width:30vw;
    height:30vw;
    background:black;
}

#tempcover{
    position: absolute;
    height: 10vw;
    width: 10vw;
    left:33.5%;
    top:33.5%;
    z-index: 100;

    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

.doorsectionproject{
    position: absolute;
    left:68%;
    bottom:25%;

    width:30vw;
    height:30vw;
    background:black;
}
